<div class="col-sm-8 text-left"> 
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Alta Tornillos</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Registro de Tornilos
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form>
                          Nombre:<br>
                          <input type="text" class="form-control" ng-model="newTornillo.nombre">
                          <br>  
                          Clave:<br>
                          <input type="text" class="form-control" ng-model="newTornillo.clave">
                          <br>    
                          Precio Mostrador:<br>
                          <input type="text" class="form-control" ng-model="newTornillo.precioMostrador">
                          <br>
                          Precio Mayoreo:<br>
                          <input type="text" class="form-control" ng-model="newTornillo.precioMayoreo">
                          <br>
                          Precio Credito:<br>
                          <input type="text" class="form-control" ng-model="newTornillo.precioCredito">
                          <br>                       
                          Medida:<br>
                          <input type="text" class="form-control" ng-model="newTornillo.medidas">
                          <br>
                          Marca:<br>
                          <input type="text" class="form-control" ng-model="newTornillo.marca">
                          <br>
                          Proveedor:<br>                          
                          <select class="form-control" ng-model="newTornillo.proveedor">
							<option ng-repeat="prov in proveedores">{{prov.nombre}}</option>
						  </select><br>
                          Cantidad por Mayoreo:<br>
                          <input type="text" class="form-control" ng-model="newTornillo.mayoreo">     
                          <br><br>
                          <button type="submit" value="Registrar" class="btn btn-primary" ng-click="registraTornillos(newTornillo)">Registrar</button>
                      </form> 
                      <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
      </div>
  </div>
</div>
</div ng-view>

